body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: #ddd;
}

.poster-page {
  width: 595px;
  height: 842px;
  background: white;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.text-section {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding: 16px;
  padding-top: 35px;
  box-sizing: border-box;
  z-index: 5;
  background: transparent;
  pointer-events: none
}

.poster-line {
  width: calc(100% - 160px);
  height: 1px;
  border-top: none;
  margin-bottom: 12px;

  background: linear-gradient(
    to right,
    black 0%,
    black 75%,
    transparent 100%
  );
}

.poster-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  height: calc(100% - 13px);
  align-items: stretch;
  transform: translateX(18px);
}

.left-info,
.middle-info,
.bullet-notes {
  height: 100%;
}

.left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poster-title {
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0;
}

.middle-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1px;
  line-height: 2.2;
  align-content: start;
}

.year,
.date,
.time,
.author,
.bullet-notes {
  font-size: 10px;
}

.author {
  text-align: left;
}

.bullet-notes {
  position: absolute;
  right: -24px;
  bottom: 16px;
  width: 170px;
  height: 500px;

  display: flex;
  flex-direction: column-reverse;
  gap: 2px;

  margin: 0;
  padding-left: 12px;
  line-height: 1.1;
  box-sizing: border-box;

  font-size: 10px;
  z-index: 20;
  overflow: visible;

  overflow-wrap: break-word;
  word-break: normal;

  -webkit-mask-image: linear-gradient(
    to top,
    black 0%,
    black 70%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to top,
    black 0%,
    black 70%,
    transparent 100%
  );
}

.bullet-notes li {
  max-width: 150px;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
}


/* Controls */
.controls {
  width: 595px;              /* 和 poster 一样宽 */
  margin: 24px auto;         /* 居中整个控制区 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 左侧按钮组 */
.controls-left {
  display: flex;
  gap: 14px;                 /* 保持你现在的间距 */
}

/* 按钮基础 */
.control-btn {
  font-family: inherit;
  font-size: 10px;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  padding: 8px 14px;

  border: 0.7px solid black;
  background: transparent;
  color: black;

  cursor: pointer;
  transition: all 0.2s ease;
}

.control-btn:hover {
  background: black;
  color: white;
}

/* 右侧主按钮 */
.control-btn.primary {
  background: black;
  color: white;
}

.control-btn.primary:hover {
  background: transparent;
  color: black;
}